<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <title>AK32767-CS2DMA</title>
    <link rel="icon" href="static/icon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="radar">
        <img id="map_image" src="/static/no_map.png" width="1024" height="1024">
        <canvas id="overlay" width="1024" height="1024"></canvas>
    </div>

    <div id="info_pop" onclick="hideInfoPop();">
      <div class="info-pop-content">
          <img src="/static/icon.png" class="info-pop-icon">
        <h1 class="info-pop-h1">AK拷打众生之线上雷达</h1>
      </div>
    </div>

    <script src="static/script.js"></script>
</body>
</html>